<h1>Edit Your Profile!</h1>

<%= form_for @user do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :age %>
  <%= f.number_field :age %><br>

  <%= f.label :gender %>
  <%= f.text_field :gender %><br>

  <%= f.label :location %>
  <%= f.text_field :location %><br>

  <%= f.label :preference %>
  <%= f.text_field :preference %><br>

  <%= f.submit %>

  <% end %>
