<h2>Profile Info</h2>


  <%= form_for @user, html: {multipart: true} do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :age %>
  <%= f.number_field :age %><br>

  <%= f.label :gender %>
  <%= f.select :gender, [['Male'], ['Female'], ['Non-Binary']] %><br>

  <%= f.label :location %>
  <%= f.text_field :location %><br>

  <%= f.label :preference %>
  <%= f.select :preference, [['Male'], ['Female'], ['Non-Binary']]%><br>

  <%= f.label :bio %>
  <%= f.text_area :bio %><br>

  <%= f.collection_check_boxes :interest_ids, Interest.all, :id, :name %><br>

  <%= f.label :image %>
  <%= f.file_field :image %>

  <%= f.submit %>

  <% end %>
