

<% if flash[:error] %>
  <% flash[:error].each do |e|  %>
    <%= e %>
  <% end  %>
<% end  %>


  <div class="login box">
    <div class="look4love">Look4Love</div>
      <h1 class="container">Create an Account!</h1>
    <%= form_for @user, :html => {:class => "ui form"} do |f| %>
      <div class="ui field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "field" %>
      </div>
      <%= f.submit "Create Account!", class: "ui blue basic button" %>
    <% end %>
  </div>
