<h1><%="#{@user.name}'s Profile"  %> </h1>

 <%= render 'shared/stats' %>

 <%= render 'follow_form' if logged_in? %>

<%= @user.name  %> <br>
<%= @user.age  %><br>
<%= @user.gender  %><br>
From: <%= @user.location  %><br>
Interested in: <%= @user.preference  %><br>
<% @user.matchers.each do |matcher|  %><br>
  Matches: <%= link_to matcher.name, matcher  %><br>
<% end %><br>
Likes: <% @user.interests.each do |interest| %>
  <%= interest.name %> <br>
<% end %>
<br>


<%= link_to "Advance Search", new_search_path %><br>

<%= link_to "Back To All Users", users_path %> <br>

<% if current_user == @user %>

  <%= link_to "Delete Profile", user_path, method: :delete %> <br>

  <%= link_to "Edit Profile", edit_user_path %><br>

<% end %>

<%= link_to 'Logout', logout_path, method: :delete %>
