<% if current_user == @user %>
  <h1><%="Your Profile!"%></h1>
    <% else  %>
      <h1> <%="#{@user.name}'s Profile"%> </h1>
<% end %>

  <%= image_tag @user.image.url(:medium) %> <br>
  Name: <%= @user.name  %> <br>
  Age: <%= @user.age  %><br>
  Gender: <%= @user.gender  %><br>
  From: <%= @user.location  %><br>
  Interested in: <%= @user.preference  %><br>
  Bio: <%= @user.bio %><br>
  <% if current_user == @user %>
    <%= "Things You Like:" %> <% @user.interests.each do |interest| %>
      <%= interest.name %> <br>
    <% end %>
    <% else %>
    <%= "Things #{@user.name} Likes:" %> <% @user.interests.each do |interest| %>
      <%= interest.name %> <br>
    <% end %>
  <% end %><br>

  <% if current_user == @user %>
    <% @user.matchers.each do |matcher|  %><br>
      Matches: <%= link_to matcher.name, matcher  %><br>
      <% end %>
  <% end %>

  <% if current_user == @user %>
    <%= link_to "Delete Profile", user_path, method: :delete %> <br>
  <% end %>

  <%= link_to "Back To All Users", users_path %> <br>


<% if current_user != @user %>
    <% if current_user.matching?(@user) %>
      <%= render 'unmatch' %>
      <% else %>
        <%= render 'match' %>
    <% end %>
  <%end %>



  <h4>Users You Might Like</h4>
  <% if @suggested_users.empty? %>
    <p>No Recommended Users</p>
    <% else %>

<ul>
    <% @suggested_users.each do |su|  %>
      <li><%= link_to su.name, su %></li>
    <% end %>

</ul>
<% end %>
